:root {
    --main-color: #245852
}

body {
    background-color: antiquewhite;
}

.hero {
    background: url(../img/BG.jpg);
    padding: 350px 50px;
}

.story {
    background-color: var(--main-color);
}

footer {
    background-color: var(--main-color);
}